/* Style for our header texts
* --------------------------------------- */
h1{
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
	padding:0;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
.section{
	background-size: cover;
}
.slide{
	background-size: cover;
}

/* Defining each section background and styles
* --------------------------------------- */
#section0{
	background-color: rgb(0, 0, 0);
}
#section0 h1{
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}
#section2{
	background-image: url(../imgs/bg3.jpg);
	padding: 6% 0 0 0;
}
#section3{
	background-image: url(../imgs/bg4.jpg);
	padding: 6% 0 0 0;
}
#section3 h1{
	color: #000;
}


/*Adding background for the slides
* --------------------------------------- */
#slide1{
	background-image: url(../imgs/bg2.jpg);
	padding: 6% 0 0 0;
}
#slide2{
	background-image: url(../imgs/bg5.jpg);
	padding: 6% 0 0 0;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
	color: #fff;
}

div.transbox {
  margin: 4em;
  margin-right: 20%;
  margin-left: 20%;
  background-color: #ffffff;
  opacity: 0.6;
  padding: 1em;
  overflow-y: scroll;
  height: 40%;
  max-height: 40%;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}